In [9]:
import re

In [10]:
file = open("email.txt", "r")
string = file.read()
match = re.findall(r'[\w._%+-]+@[\w.-]+\.[a-zA-Z]{2,4}', string)
print(match)
file.close()

['xyz@yahoo.com', 'jeff245@gmail.com', 'rajnish@gmail.com']

In [11]:
# re.search()
string = 'First Principle thinking is the best technique to improve skills'
pattern = 'Principle'
exist = re.search(pattern,string)
print(exist)

<re.Match object; span=(6, 15), match='Principle'>

In [12]:
# re.match()
string = 'Gravity is high on poles and less on equator'
pattern = 'Gravity'
print(re.match(pattern,string))

<re.Match object; span=(0, 7), match='Gravity'>

In [13]:
# re.compile()
string = 'First Principle thinking is the best technique to improve skills'
pattern = re.compile('Principle')     # Storing as cache
print(pattern.findall(string))

['Principle']

In [14]:
# re.sub()
String = 'Doing known things takes the world from 1 to n, adding more of something familiar. But 0 to 1 is totally fresh and excited.'
pattern = 'is'
new_pattern = 'is not'
updated_string = re.sub(pattern,new_pattern,String)
print(updated_string)

Doing known things takes the world from 1 to n, adding more of something familiar. But 0 to 1 is not totally fresh and excited.

In [15]:
# re.split()                     ->  splits the stein
String = 'Alpha and Beta are best friends and Gamma doesn\'t know them '
pattern = 'and'
updated_st = re.split(pattern,String,maxsplit=1)     #maxsplit=0 will split as much split as possible but except 0 , it will perform as it will be assigned
print(updated_st)

['Alpha ', " Beta are best friends and Gamma doesn't know them "]

In [16]:
# Meta Character
String = "Lovely Professional University^."
pattern = '\^'
print(re.search(pattern,String))

<re.Match object; span=(30, 31), match='^'>

In [17]:
email = str(input("Enter email id : "))
pattern = '[\w.+%]+@[\w]+\.[a-z]+'
print(re.search(pattern,email))

Enter email id :  rajnish@gmail.com

<re.Match object; span=(0, 17), match='rajnish@gmail.com'>

In [18]:
text = 'rajnish?'
pattern = '[\w]+'
print(re.search(pattern,text))

<re.Match object; span=(0, 7), match='rajnish'>

In [40]:
import pandas as pd

In [41]:
emails = pd.read_csv("rk.csv")
emails

                  email ID ID
0       rajnish@gmail.coom  A
1           ravi@gmail.com  B
2       chandini@gmail.com  C
3         rishav@gmail.com  D
4          alpha@gmail.com  E
5           beta@gmail.com  F
6          gamma@gmail.com  G
7  rajnishk71249@gmail.com  H

In [42]:
for i,email in enumerate(emails['email ID']):
    pattern = '@[a-z]+'
    new_pattern = '@yahoo'
    email = re.sub(pattern,new_pattern,email)
    print(email)
    emails.iloc[i,0] = email

rajnish@yahoo.coom
ravi@yahoo.com
chandini@yahoo.com
rishav@yahoo.com
alpha@yahoo.com
beta@yahoo.com
gamma@yahoo.com
rajnishk71249@yahoo.com

In [43]:
emails

                  email ID ID
0       rajnish@yahoo.coom  A
1           ravi@yahoo.com  B
2       chandini@yahoo.com  C
3         rishav@yahoo.com  D
4          alpha@yahoo.com  E
5           beta@yahoo.com  F
6          gamma@yahoo.com  G
7  rajnishk71249@yahoo.com  H